<section class="bg-gray ">
  <div class="container  py-5">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="">Get the FreshCart app</h3>
        <p class="text-muted">
          We will send you a link , open it on your phone to download the app
        </p>

        <div class="d-flex justify-content-between">
          <input type="email" class="form-control w-100 h-25" placeholder="Email"
          />
          <button class="btn bg-main text-light w-25 h-25 mx-3 text-center">
            Share App Link
          </button>
        </div>
      </div>
    </div>
    <hr />
    <div class="row justify-content-between">
      <div class="col-md-6 d-flex align-items-center text-center flex-nowrap">
        <h3 class="h5">Payment Parteners</h3>

        <div class="d-flex align-items-center">
          <img src="./assets/images/amazon-pay.png" style="width: 50px; height: 20px" class="m-3" alt=""
          />
          <img src="./assets/images/American-Express-Color.png" style="width: 70px" class="m-3" alt=""
          />
          <img src="./assets/images/mastercard.webp" style="width: 70px" class="m-3" alt=""
          />
          <img src="./assets/images/paypal.png" style="width: 70px" class=" " alt=""
          />
        </div>
      </div>

      <div class="col-md-4 d-flex ms-auto">
        <div class="d-flex align-items-center justify-content-between">
          <h3 class="h6">Get Deliveries with FreshCart</h3>
          <div class="d-flex align-items-center">
            <img src="./assets/images/get-apple-store.png" style="height: 35px; width: 90px" class="w-25" alt=""
            />
            <img src="./assets/images/get-google-play.png" style="width: 100px" class="mx-2 w-25 py-4" alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
