<section class="w-75 mx-auto">
    <h1 class="text-main text-center my-3">shipping Address</h1>

    <form [formGroup]="orders" (ngSubmit)="submitOrder()" >
        <div>
            <label>Details</label>
            <input formControlName="details" type="text" class=" form-control rounded-4">
        </div>
        
        <div>
            <label>Phone</label>
            <input formControlName="phone" type="tel" class=" form-control rounded-4">
        </div>

        <div>
            <label>City</label>
            <input formControlName="city" type="text" class=" form-control rounded-4">
        </div>

        
            <button [disabled]="orders.invalid" class="btn-main my-3" type="submit">Check Out</button>
        
    </form>
</section>